*
!automation/
!groups/
!extraconfig/
!*.yaml
!scenes
!.gitignore
!certs
google_calendars.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
extraconfig/cover.yaml
extraconfig/zones.yaml
plex.conf
.google_maps_location_sharing.cookies*
plex.conf
OZW_Log.txt
!*.xml
*.sqlite
zwave_device_config.yaml
*.db
*.xml
./home-assistant_v2.db
plex.conf